<!DOCTYPE html>
<html>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table {
      border: 1px solid black;
      border-collapse: collapse;
    }


    .center {
      margin-left: auto;
      margin-right: auto;
    }
    tr td { width:50%; }
    
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
    }
  </style>
</head>


<body>
  <table class="center" style="width:90%">
    <tr>
      <td colspan="2" style="text-align: center;">
        <img src={{logoUrl}} style='width:30%; max-width:250px;'>
        {invoiceQR}
      </td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Invoice Number</td>
      <td style="text-align: right;">{{invoice}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Address</td>
      <td style="text-align: right;"> {{stationAddress}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;GST Number</td>
      <td style="text-align: right;"> {{stationGSTN}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;PAN</td>
      <td style="text-align: right;"> {{stationPAN}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;"><b>&nbsp;Bill To</b></td>
      <td style="text-align: right;"></td>
    </tr>
    {groupNamePrepaid}
    <tr>
      <td style="text-align: left;">&nbsp;Name</td>
      <td style="text-align: right;"> {{userName}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Additional Information</td>
      <td style="text-align: right;"> {{userType}} {{vehicleDetails}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Address</td>
      <td style="text-align: right;"> {{accountAddress}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;GST Number</td>
      <td style="text-align: right;"> {{accountGSTN}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;PAN</td>
      <td style="text-align: right;"> {{accountPAN}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Invoice Date</td>
      <td style="text-align: right;">{{createdOn}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;"><b>&nbsp;Transaction Details</b></td>
      <td style="text-align: right;"></td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Charging location</td>
      <td style="text-align: right;"> {{stationName}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Charge Point</td>
      <td style="text-align: right;"> {{cpid}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Connector Type</td>
      <td style="text-align: right;"> {{connectorType}} &nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;"><b>&nbsp;Session Details </b></td>
      <td style="text-align: right;"></td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Transaction ID</td>
      <td style="text-align: right;">{{transactionId}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Transaction date</td>
      <td style="text-align: right;">{{transactionStart}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Total Duration(hh:mm:ss)</td>
      <td style="text-align: right;">{{transactionduration}}&nbsp;</td>
    </tr>
    {penaltyDuration}
    <!-- <tr>
      <td style="text-align: left;">&nbsp;Penalty Duration(hh:mm:ss)</td>
      <td style="text-align: right;">{{penaltyDuration}}&nbsp;</td>
    </tr> -->
    <tr>
      <td style="text-align: left;">&nbsp;Energy Consumed(kWh)</td>
      <td style="text-align: right;">{{totalUnit}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Session Tariff{discountPercentage}</td>
      <td style="text-align: right;">{{rate}} / {{tariffUnit}} &nbsp;</td>
    </tr>
    {penaltyRate}
    <!-- <tr>
      <td style="text-align: left;">&nbsp;Penalty Tariff</td>
      <td style="text-align: right;">{{penaltyRate}}&nbsp;</td>
    </tr> -->
    <tr> 
      <td align='left'>&nbsp;SAC Code And Description</td> 
      <td align='right'>998714 Maintenance and repair of transport machinery and equipment&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>


    <tr>
      <td style="text-align: left;"><b>&nbsp;Charging Fee</b></td>
      <td style="text-align: right;"><b>{{chargingFee}} &nbsp;</b></td>
    </tr>
    <tr>
      <td style="text-align: left;"><b>&nbsp;Service Fee</b></td>
      <td style="text-align: right;"><b>{{serviceFee}} &nbsp;</b></td>
    </tr>
    {penaltyFee}
    <!-- <tr>
      <td style="text-align: left;"><b>&nbsp;Penalty Fee</b></td>
      <td style="text-align: right;"><b>{{penaltyFee}} &nbsp;</b></td>
    </tr> -->
    {taxDetails}
    <tr>
      <td style="text-align: left;"><b>&nbsp;Total Tax Amount</b></td>
      <td style="text-align: right;"><b>{{taxAmount}}&nbsp;</b></td>
    </tr>
    <tr>
      <td style="text-align: left;"><b>&nbsp;Total Amount</b></td>
      <td style="text-align: right;"><b>{{totalAmountWithCurrency}}&nbsp;</b></td>
    </tr>
    <tr>
    <td style="text-align: left;"><b>&nbsp;Total Amount In Words</b></td>
    <td style="text-align: right;"><b>{{totalInWords}}&nbsp;</b></td>
    </tr>
    {cashbackRedeemed}
    {walletDebit}

    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    {couponDetails}
    {creditUsed}
    <tr>
    <td style="text-align: left;">&nbsp;Wallet Balance:</td>
    <td style="text-align: right;">{{walletBalance}}&nbsp;</td>
    </tr>
    {paymentModeAndWalletId}
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;"><b>&nbsp;Payment Reference No.</b></td>
      <td style="text-align: right;"></td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Date & Time</td>
      <td style="text-align: right;">{{lastTopUpDate}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;Invoice Number</td>
      <td style="text-align: right;">{{lastTxnInvoiceId}}&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left;">&nbsp;</td>
      <td style="text-align: left;">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center;">
        <span>Thank you for using {{companyName}} EV service</span>
      </td>
    </tr>
  </table>
  <p style="text-align: center;"><b>This is a computer-generated document. No signature is required.</b></p>
  <!-- {carbonmessge} -->
</body>
</html>
